

  <div class="comment-like-form row">
    <div class="like-button col-sm-1">
      <span class="glyphicon glyphicon-heart-empty"></span>
    </div>
    <div class="comment-form col-sm-11"></div>
      <%= form_for [post, post.comments.new] do |f| %>
        <%= f.text_field :content, class: 'form-control', placeholder: "Enter a new comment" %>
      <% end %>
    </div>
  </div>
